#menu-title{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
}

.left-col{
    
}

.menu-tile{
    padding: 30px;
}

ul{
    list-style-type: none;
}

.menu-tile h2,p{
    margin: 10px;
}

.menu-tile p{
    width: 100px;
}