*{
    box-sizing: border-box;
}

#menu-title{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
}


.menu-tile{
    padding: 30px;
    background: green;
}



.menu-tile h2,p{
    margin: 10px;
}

.menu-tile p{
  width : 40vw;
  
}

.menu-img{
    height: 20vh;
}

